@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">List of connected devices</h1>
    <ul class="list-group list-group">
        @{
            if (Model.ConnectedDevices == null)
            {
                <li class="list-group-item">
                    <p>No items</p>
                </li>
            }
            else
            {
                foreach (var device in Model.ConnectedDevices)
                {
                    <li class="list-group-item">
                        <p>Device name: @device.Name</p>
                        <p>Mac address: @device.MacAddress</p>
                        <p>Last online: @device.LastOnline</p>
                    </li>
                }
            }
        }
    </ul>
</div>