@page
@model TestingModel

<div class="text-center">
    <h1 class="display-4">List of connected devices</h1>
    <ul class="list-group list-group">
           @{
               foreach (var device in Model.ConnectedDevices)
               {
                   <li class="list-group-item">
                       <p>@device.Name</p>
                       <p>@device.MacAddress</p>
                   </li>
               }
           }
       </ul>
</div>