@page
@model Frontend.Areas.Dashboard.Pages.DevicesModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
    Layout = Configuration.GetSection("LayoutFiles")["Dashboard"];
}

<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">All connected devices</h4>
            <p class="card-category">Click on a device to see more information.</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <th>
                        Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Mac Address
                    </th>
                    <th>
                        Status
                    </th>
                    </thead>
                    <tbody>
                    @foreach (var device in Model.ConnectedDevices)
                    {
                        <tr>
                            <td>
                               @device.Name
                            </td>
                            <td>
                                @device.Category
                            </td>
                            <td>
                                @device.MacAddress
                            </td>
                            <td class="text-primary">
                                Online
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>