.App {
  text-align: center;
}

.bg-primary {
  background-color: #0d0954 !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-vivium {
  background-color: #282c34;
  color: white;
  display: inline-block;
}

.status-page .progression {
  padding: 20px;
  width: 100%;
  background: #2fb86b;
}

.start-button {
  background: #2fb86b !important;
  margin-top: 40px;
  height: 50px;
  border-radius: 25px !important;
  width: 150px;
  color: white !important;
  font-weight: bold !important;
}

.progress {
  height: 2rem !important;
}
